##### 2025.04.30 데이터베이스프로그래밍 3강 ko36 조유은
## 튜플 다루기

In [2]:
# tuple
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)
print("=" * 50)
print("튜플은 ()로 값을 넣기, 리스트와 거의 동일")
print(a)

print("=" * 50)
print("튜플은 한번 선언 후 값 변경 불가")
try:
    a[0] = 2
    print(a)
except:
    print('--> 에러난다')

==================================================
튜플은 ()로 값을 넣기, 리스트와 거의 동일
(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)
==================================================
튜플은 한번 선언 후 값 변경 불가
--> 에러난다

- 튜플(Tuple)
  - 빈 튜플 만들기 가능하다. $\to$ a = ()
  - 한 개의 데이터가 있는 튜플은 콤마를 붙여 줘야 한다. $\to$ a = (1, )
  - 괄호를 생략해도 튜플이 생성 된다. $\to$ a = 1, 2, 3
  - 문자를 넣으면 문자형 튜플, 숫자를 넣으면 숫자형 튜플, 문자와 숫자를 혼합한 튜플도 가능 $\to$ a = ('A', 'B', 'C) / a = (1, 2, 3) / a = ('A', 2, 'C', 4)
  - 튜플 안에 튜플을 넣는 것도 가능하다. $\to$ a = (1, 2, (3, 4))